<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> SipUp </title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body class="bg-light">
		<main>
			<div class="card text-dark shadow p-3 mb-5 rounded" style="width: 25rem; margin: auto; margin-top: 200px;">
	  			<div class="card-body">
	  				<div class="card-title ">
		  				<img src="../static/img/Logo.png" class="text-center mb-4" style="color:#fff;height: 90px">
		  				<h3 class="mb-4"> Ingresa tus datos </h3>
	  				</div>
	  				<form action="/sigup" method="post">
	  					<div class="form-group">
	  						<div class="row">
	  							<div class="col mx-0">
	  								<input type="text" name="nombre" class="form-control" placeholder="Nombre">
	  							</div>
	  							<div class="col mx-0">
	  								 <input type="text" name="apellido" class="form-control" placeholder="Apellido">
	  							</div>
	  						</div>
	  					</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Enter email" name="email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="contrasena">
							<small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
						</div>
	  					<button type="submit" class="btn btn-info btn-lg btn-block mb-4">Submit</button>
	  					<span class="text-muted"> You have a account? <a href="/"> click here! </a> </span>
					</form>
				</div>
			</div>
		</main>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
